<div class="variants-grid">
  <a class="variant-card{% if page.variant == 'circle' %} variant-active{% endif %}" href="{{ site.baseurl }}/">
    <h3>Circle</h3>
    <div class="sample">
      <img class="circle" src="{{ site.baseurl }}/circle/countries/us.svg" width="32" height="32"/>
      <img class="circle" src="{{ site.baseurl }}/circle/countries/gb.svg" width="32" height="32"/>
      <img class="circle" src="{{ site.baseurl }}/circle/countries/fr.svg" width="32" height="32"/>
      <img class="circle" src="{{ site.baseurl }}/circle/countries/de.svg" width="32" height="32"/>
      <img class="circle" src="{{ site.baseurl }}/circle/countries/jp.svg" width="32" height="32"/>
    </div>
    <span class="variant-desc">512×512 circular</span>
  </a>

  <a class="variant-card{% if page.variant == 'square' %} variant-active{% endif %}" href="{{ site.baseurl }}/gallery-square.html">
    <h3>Square</h3>
    <div class="sample">
      <img src="{{ site.baseurl }}/square/countries/us.svg" width="32" height="32"/>
      <img src="{{ site.baseurl }}/square/countries/gb.svg" width="32" height="32"/>
      <img src="{{ site.baseurl }}/square/countries/fr.svg" width="32" height="32"/>
      <img src="{{ site.baseurl }}/square/countries/de.svg" width="32" height="32"/>
      <img src="{{ site.baseurl }}/square/countries/jp.svg" width="32" height="32"/>
    </div>
    <span class="variant-desc">512×512 square</span>
  </a>

  <a class="variant-card{% if page.variant == 'full-size-simplified' %} variant-active{% endif %}" href="{{ site.baseurl }}/gallery-full-size-simplified.html">
    <h3>Full-size simplified</h3>
    <div class="sample">
      <img src="{{ site.baseurl }}/full-size-simplified/countries/us.svg" width="48" height="25"/>
      <img src="{{ site.baseurl }}/full-size-simplified/countries/gb.svg" width="48" height="24"/>
      <img src="{{ site.baseurl }}/full-size-simplified/countries/fr.svg" width="48" height="32"/>
      <img src="{{ site.baseurl }}/full-size-simplified/countries/de.svg" width="48" height="29"/>
      <img src="{{ site.baseurl }}/full-size-simplified/countries/jp.svg" width="48" height="32"/>
    </div>
    <span class="variant-desc">True aspect ratio, simplified</span>
  </a>

  <a class="variant-card{% if page.variant == 'full-size' %} variant-active{% endif %}" href="{{ site.baseurl }}/gallery-full-size.html">
    <h3>Full-size</h3>
    <div class="sample">
      <img src="{{ site.baseurl }}/full-size/countries/us.svg" width="48" height="25"/>
      <img src="{{ site.baseurl }}/full-size/countries/gb.svg" width="48" height="24"/>
      <img src="{{ site.baseurl }}/full-size/countries/fr.svg" width="48" height="32"/>
      <img src="{{ site.baseurl }}/full-size/countries/de.svg" width="48" height="29"/>
      <img src="{{ site.baseurl }}/full-size/countries/jp.svg" width="48" height="32"/>
    </div>
    <span class="variant-desc">True aspect ratio, full detail</span>
  </a>
</div>
